@model Docttors_portal.Common.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<article class="box post">
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 d-flex justify-content-center">
        <div class="card col-12 col-sm-12 col-md-12 col-lg-8">
            <div class="card-header border-bottom text-uppercase" style="background-color: #1434A4;">
                <h4 style="color: #fff;">Change Password</h4>
            </div>
            @using (Html.BeginForm("ChangePassword", "Doctor", FormMethod.Post))
            {
        <div class="card-body">
            <div class="col">
                <div class="col-md-6 col-lg-12 mb-3">
                    <label for="example-text-input" class="form-label">Old Password</label>
                    @Html.TextBoxFor(m => m.Oldpassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Oldpassword, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 col-lg-12 mb-3">
                    <label for="example-text-input" class="form-label">New Password</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 col-lg-12 mb-3">
                    <label for="example-text-input" class="form-label">Confirm New Password</label>
                    @Html.TextBoxFor(m => m.CPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPassword, "", new { @class = "text-danger" })
                </div>
                <input type="submit" name="submit" value="Submit" id="btnSubmit" class="btn btn-primary waves-effect waves-light offset-5 mb-0">
            </div>
            <br />
            @if (ViewBag.Message != null && ViewBag.Message != "")
            {
                <div class="alert alert-@ViewBag.alertClass">
                    <strong>Error!</strong>
                    <span>@ViewBag.Message</span>
                </div>
            }
        </div>
            }
        </div>
    </div>
</article>

